<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.1.4/tailwind.min.css'>
  <link href='/static/index.js'>
<footer class="text-center bg-gray-200 flex flex-col px-4 py-12 sm:text-left lg:px-16 md:px-8 xl:px-24 xxl:px-40">
  <div class="sm:flex flex-wrap">
    <div class="sm:w-1/2 lg:w-1/5">
      <h6 class="text-sm text-gray-600 font-bold uppercase">Contact</h6>

      <div class="mt-4">
        <a href="#" class="block text-md text-gray-900">support@bytewebster.com</a>
        <a href="#" class="block text-md text-gray-900 mt-2">+91 000 000 0000</a>
      </div>
    </div>

    <div class="mt-8 sm:w-1/2 sm:mt-0 lg:w-1/5 lg:mt-0">
      <h6 class="text-sm text-gray-600 font-bold uppercase">Company</h6>
      <ul class="mt-4">
        <li><a href="#">Resources</a></li>
        <li class="mt-2"><a href="#">Careers</a></li>
        <li class="mt-2"><a href="#">Projects</a></li>
        <li class="mt-2"><a href="#">About Us</a></li>
      </ul>
    </div>

    <div class="mt-8 sm:w-1/2 sm:mt-12 lg:w-1/5 lg:mt-0">
      <h6 class="text-sm text-gray-600 font-bold uppercase">Legal</h6>
      <ul class="mt-4">
        <li><a href="#">Terms and Conditions</a></li>
        <li class="mt-2"><a href="#">Privacy Policy</a></li>
        <li class="mt-2"><a href="#">Refund & Cancellation</a></li>
        <li class="mt-2"><a href="#">Core Values</a></li>
      </ul>
    </div>

    <div class="mt-12 sm:w-1/2 lg:w-2/5 lg:mt-0 lg:pl-12">

  <div class="mb-2 sm:mb-0 flex flex-row
    ">
      <div class="h-10 w-10 self-center mb-4">
        <img class="h-10 w-16 self-center" src="https://bytewebster.com/img/logo.png" />
      </div>
      <div>
        <a href="https://bytewebster.com/" class="text-3xl no-underline text-blue-700 font-sans font-bold">Byte<span class="text-green-800">Webster</span></a><br>
        <span class="text-xs text-grey-dark">Have A Web Bite!</span>
      </div>
    </div>

      <p class="text-base text-gray-600 mt-4">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Praesent commodo cursus magna.</p>
    </div>
  </div>

  <div class="mt-12">
    <p class="text-sm text-gray-600">© <script>document.write(new Date().getFullYear())</script> Bytewebster.com, Inc. All rights reserved.</p>
  </div>
</footer>
