
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container my-5">
    <div class="row">
    
      {% comment %} <h3>Password Reset Complete</h3> {% endcomment %}
      <div class="col-sm-2 border-end">
       <ul class="list-unstyled">
   
       </ul>
      </div>
      <div class="col-sm-9 offset-sm-1 text-center">
       <h3>Password Reset Successfully</h3>
      
     <div><iframe src="https://media.tenor.com/Vxh768KJ9o0AAAAM/pass.gif" width="200" height="200" frameborder="0" class="giphy-embed" allowFullScreen></iframe></div> 
     <form action="{% url 'login' %}" method="post" novalidate class="shadow p-5">
   
      {% csrf_token %}
   
     <small><a href="{% url 'login' %}">Your password has been set. you may go and log in now</a></small> <br>
       
     <input type="submit" class="btn btn-primary mt-4" value="Login">
   </form>
   
     </div>
   </div>
   </div>
</body>
</html>