
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container my-5">
    <div class="row">
    
     <h3>Welcome <span class="text-capitalize">{{request.user}}</span></h3>
      <div class="col-sm-2 border-end">
       <ul class="list-unstyled">
           <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password Done</a></li>
       </ul>
      </div>
      <div class="col-sm-9 offset-sm-1 text-center">
       <h3>Change Password Successfully</h3>
      
     <div><iframe src="https://media.tenor.com/Vxh768KJ9o0AAAAM/pass.gif" width="200" height="200" frameborder="0" class="giphy-embed" allowFullScreen></iframe></div> 
     </div>
   </div>
   </div>
</body>
</html>