{% extends 'navbar.html' %}

{% block content %}
<br>
<br>
<br><br><br><br>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f8f9fa;
      padding: 20px;
    }

    h2 {
      color: #007bff;
    }

    table {
      width: 100%;
      margin-top: 20px;
      border-collapse: collapse;
    }

    th, td {
      padding: 12px;
      text-align: left;
      border-bottom: 1px solid #dee2e6;
    }

    th {
      background-color: #007bff;
      color: #fff;
    }

    i {
      font-size: 20px;
      margin-right: 5px;
    }
  </style>

  <div class="container">
    <h2>Services</h2>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>Service Icon</th>
          <th>Service Title</th>
          <th>Service Description</th>
        </tr>
      </thead>
      <tbody>
        {% for service in servicedata %}
          <tr>
            <td><i class="{{ service.service_icon }}"></i></td>
            <td>{{ service.service_title }}</td>
            <td>{{ service.service_des }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block extrascripts %}
  <!-- Include Bootstrap JS and Popper.js (optional) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-Uo1LxIepHegU6pOTy8adl+gAqNDe0p06ILSHRMIfjQ7g/qjMynV6s/0c9PyX1cKl" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock extrascripts %}
