<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/thankyou.css">
  <title>Thank you</title>
</head>
<body>
  <section class="banner">
    <h1>Thanks for visiting the site</h1>
    <p>Your order has been received. You'll get this to your door by August 13, 2029. Or we're glad you subscribed to our newsletter.</p>
  </section>
  <section class="next-step">
    <div class="container">
      <div class="three-fourth">
        <p>You should receive an order confirmation email shortly. This will include all the details of your purchase, including your order number and shipping address.</p>
        <p>For subscription: Thank you for subscribing to our email list! We're thrilled to have you on board. We'll keep you updated with our latest news, promotions, and exclusive content. You can expect to hear from us once or twice a week.</p>
        <p>In the meantime, feel free to explore our website and learn more about what we do. If you have any questions or suggestions, please don't hesitate to reach out to us at [email or phone].</p>
      </div>
      <div class="one-fourth">
        <img src="/static/thankyouimg/growth.png" alt="growth infographic">
      </div>
    </div>
  </section>
  <section class="offer">
    <div class="container">
      <div class="one-fifth">
        <img src="/static/thankyouimg/wait.jpg" alt="">
      </div>
      <div class="three-fifth">
        <h2>Wait! We have a bonus for you!</h2>
        <p>As a token of our appreciation, we'd like to offer you a 10% discount on your next buy. Use the code <strong>WELCOME10</strong> at checkout to redeem your discount.</p>
        <p>For subscription: We've created an exclusive ebook just for our subscribers. It's called "The Ultimate Guide to [insert your topic]" and it's packed with tips, tricks, and insider secrets that will help you [achieve a specific goal or solve a problem].</p>
        <p>To download your free ebook, simply click on the button below.</p>
        <a href="/static/thankyouimg/search-technic.pdf" target="_blank" download>Download ebook</a>
      </div>
      <div class="one-fifth">
        <img src="/static/thankyouimg/gift.jpg" alt="">
      </div>
    </div>
  </section>
  <section class="related-content">
    <h2>Visit our blog</h2>
    <p>Throughout the years, we have been doing our own research. We picked the following articles just for you.</p>
    <div class="post-container">
      <div class="post">
        <h3>Consectetur adipisicing elit</h3>
        <img src="/static/thankyouimg/coconuts.jpg" loading="lazy" alt="coconuts">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit dolor a eaque repellat placeat.</p>
        <a href="#">Read more ⤍</a>
      </div>
      <div class="post">
        <h3>Autem aut eos accusantium</h3>
        <img src="/static/thankyouimg/vegetables.jpg" loading="lazy" alt="vegetables">
        <p>Auas beatae blanditiis adipisci exercitationem reprehenderit, laudantium magni commodi itaque fugiat.</p>
        <a href="#">Read more ⤍</a>
      </div>
      <div class="post">
        <h3>Repudiandae ducimus inventore</h3>
        <img src="/static/thankyouimg/garden.jpg" loading="lazy" alt="garden, flowers">
        <p>Nonmaiores animi cum placeat. Lorem ipsum dolor sit amet quas recusandae  reprehenderit placeat beatae.</p>
        <a href="#">Read more ⤍</a>
      </div>
    </div>
  </section>
  
</body>
</html>