@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap");
:root {
  --c-primary: #b2b377;
  --p-8-16: 8px 16px;
  --m-8-0: 8px 0;
}
html {
  font-size: 63.5%;
  font-family: "Mitr", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/1275415/pexels-photo-1275415.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.login-container {
  padding: 40px 20px;
  text-align: center;
}
.login-content {
  backdrop-filter: blur(6px);
  border: 2px solid #d2d18080;
  -webkit-box-shadow: -1px -1px 30px -8px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: -1px -1px 30px -8px rgba(0, 0, 0, 0.9);
  box-shadow: -1px -1px 30px -8px rgba(0, 0, 0, 0.9);
  padding: 20px;
  border-radius: 1.6rem;
  color: white;
}
.logo {
  font-size: 2rem;
}
h2 {
  font-size: 4.2rem;
  line-height: 2.8;
}
p{
    font-size: 16px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: blue;
}

label {
    display: inline-block;
    font-size: 16px;
    margin-left: 141px;
}

.login-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1.2rem;
  max-width: 260px;
  margin: 0 auto;
}
.login-form input {
  width: 27rem;
  height: 43px;
  background-color: #ffffff40;
  color: #fff;
  padding: var(--p-8-16);
  border-radius: 8px;
}
input {
  font-size: 1.6rem;
  border: none;
  margin: var(--m-8-0);
}
input::placeholder {
  color: #fff;
}
input[type="submit"] {
  border: none;
  background-color: var(--c-primary);
  color: #163020;
  font-weight: 600;
  font-size: 16px;
}
.login-netoworks,
.login-or {
  margin: 16px 0;
}
hr {
  width: 70%;
  border-color: #ffffff40;
}

.login-icons {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 2.5rem;
  max-width: 260px;
}
.login-icons li {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ffffff40;
  padding: var(--p-8-16);
  margin: var(--m-8-0);
  border-radius: 4px;
  font-size: 1.7rem;
  font-weight: 400;
}
.login-icons li > [type="logo"] {
  margin-right: 8px;
}

@media screen and (min-width: 400px) {
  .login-content_header span.logo {
    display: none;
  }
  .login-container {
    padding: 0px;
  }
  .login-content {
    position: absolute;
    right: 0px;
    width: 500px;
    height: 100vh;
    max-height:100%;
    border: 0;
    border-left: 3px solid #d2d18080;
    border-radius: 0;
    max-width: 50%;
  }
  .login-content {
    animation: fRight 1s ease-in-out;
  }
  @keyframes fRight {
    from {
      opacity: 0;
      transform: translateX(300px);
    }
    to {
      opacity: 1;
    }
  }
}